{% extends "base.html" %}

{% block content %}
<div class="forms">
	<div id="add-new" class="form">
		<div class="title">Add New Contact</div>
		<form action="/add" method="post">
			{% csrf_token %}
			<div>
				Name: <input type="text" name="name" />
			</div>
			<div>
				<input type="submit" class="btn primary" value="Add!" />
			</div>
		</form>
	</div>

<!-- 	<div id="search" class="form">
		<div class="title">Search</div>
		<form action="/search" method="get">
			<div>
				<input type="text" name="name" />
			</div>
			<div>
				<input type="submit" class="btn primary" value="Search!" />
			</div>
		</form>
	</div> -->

</div>

<div class="btn-group filter-buttons" data-toggle="buttons-radio">
  <button class="btn {% if filter == "day" %}active{% endif %}" data-filter="day">Day</button>
  <button class="btn {% if filter == "twodays" %}active{% endif %}" data-filter="twodays">2 Days</button>
  <button class="btn {% if filter == "week" %}active{% endif %}" data-filter="week">Week</button>
  <button class="btn {% if filter == "twoweeks" %}active{% endif %}" data-filter="twoweeks">2 Weeks</button>
  <button class="btn {% if filter == "month" %}active{% endif %}" data-filter="month">Month</button>
  <button class="btn {% if filter == "twomonths" %}active{% endif %}" data-filter="twomonths">2 Months</button>
  <button class="btn {% if filter == "all" %}active{% endif %}" data-filter="all">All</button>
</div>


<div id="contact-list">
	{% for contact in contacts %}
		<div class="contact {% if contact.date < today %}overdue{% endif %} {% if contact.date == today %}today{% endif %}">
			<a href="/contact/{{contact.id}}" class="link">	
				<div class="name">{{ contact.name}}</div>
			</a>
			<input type="text" class="datepicker" 
				value="{{ contact.date|date:"m/d/y"}}" 
				data-date-format="mm/dd/yy" 
				data-contact-id="{{contact.id}}" />
			<button class="btn done-button" data-contact-id="{{contact.id}}">Done!</button>
		</div>
	{% endfor %}
	{% if filter == 'all' %}
		{% for contact in done_contacts %}
		<div class="contact {% if contact.date < today %}overdue{% endif %}">
			<a href="/contact/{{contact.id}}" class="link">	
				<div class="name">{{ contact.name}}</div>
			</a>
			<a href="#" 
				class="datepicker btn" 
				data-date="{{ today|date:"m/d/y"}}" 
				data-date-format="mm/dd/yy" 
				data-contact-id="{{contact.id}}">Set</a>

		</div>
		{% endfor %}
	{% endif %}
</div>

{% endblock %}