{% extends "base.html" %}

{% block content %}
<div id="add-new">
	<div class="add-title">Add New Contact</div>
	<form action="/add" method="post">
		{% csrf_token %}
		<div>
			Name: <input type="text" name="name" />
		</div>
		<div>
			<input type="submit" class="btn primary" value="Add!" />
		</div>
	</form>
</div>

<div class="btn-group filter-buttons" data-toggle="buttons-radio">
  <button class="btn {% if filter == "day" %}active{% endif %}" data-filter="day">Day</button>
  <button class="btn {% if filter == "week" %}active{% endif %}" data-filter="week">Week</button>
  <button class="btn {% if filter == "twoweeks" %}active{% endif %}" data-filter="twoweeks">2 Weeks</button>
  <button class="btn {% if filter == "month" %}active{% endif %}" data-filter="month">Month</button>
  <button class="btn {% if filter == "twomonths" %}active{% endif %}" data-filter="twomonths">2 Months</button>
  <button class="btn {% if filter == "all" %}active{% endif %}" data-filter="all">All</button>
</div>


<div id="contact-list">
	{% for contact in contacts %}
		<div class="contact">
			<a href="/contact/{{contact.id}}">	
				<div class="name">{{ contact.name}}</div>
			</a>
			<input type="text" class="datepicker" 
				value="{{ contact.date|date:"m/d/y"}}" 
				data-date-format="mm/dd/yy" 
				data-contact-id="{{contact.id}}" />
		</div>
	{% endfor %}
</div>

{% endblock %}